.league{
    display: flex;
    width: 100%;
    position: absolute;
    top: 2.41rem;
    left: 0;
    right: 0;
    overflow: hidden;
    bottom: 0;

}
.slides{
    font-size: .12rem;
    text-align: center;
    height: auto;
    line-height: .35rem;
    flex: 1;
    overflow-y: scroll;
}
.slide{
    font-size: .12rem;
    text-align: center;
    height: .7rem;
    line-height: .35rem;
    flex: 1;
}

.list{
    flex: 3;
    overflow-y: scroll;
}