.header{
    height: .4rem;
    width: 100%;
    background: #e82c2c;
    position: fixed;
    color: #fff;
    text-align: center;
    line-height: .4rem;
    top: 0;
    position: relative;
  }
  .header span{
    display: inline-block;
    height: .4rem;
    position: absolute;
    left: .1rem;
    top: 0;
    font-size: .14rem;
    text-align: center;
    line-height: .4rem;
  }